.circle{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.center{
	text-align: center;
}

.box{
	float: left;
	width: 50%;
}

.card{
  margin-right: 10px;	
  background-color: white;
  padding: 20px;
  box-shadow: 5px 10px 8px 10px #888888;
}

}

.skills{
	font-size: 25px;
	padding: 15px;
}

.smallcircle{
	height: 20px;
	width: 20px;
 	background-color: blue;
  	border-radius: 50%;
  	display: inline-block;
}

.icon{
	width: 25px;
	height: 25px;
}	
