*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
body{font-family: 'Open Sans', sans-serif;height: 3000px;}
.container{
    width: 1200px;
    margin: auto;
}
.center{
    text-align: center;
}
/*start*/
.header{
    background: #3f3f57;
    height: 58px;
    width: 100%;
    overflow: hidden;    
}
#bar h1{
    color:#fff;
    opacity: 0.8;
    display: block;
    float: left;
}
#bar span{
    background-color:#FFB300;
    border-radius: 10px;
    margin-right: 1px;
   padding:0 7px;
}
.header div:last-child{
    margin: 10px;
    float: right;
}
.header div:last-child input[placeholder="Where's your next adventure?"]{
    width: 300px;
    margin-right: 200px;
}
#img{
    background: url("../img/bg.jpg");
    width: 100%;
    height: 490px;
    background-size: cover;
}

/*about us*/

.about{
    margin:0px auto ;
    background-color: #fff;
}
.about h2{
    padding: 16px;
}
table{
    width: 100%;
    height: 520px; 
    background-color: #292927;
}
table tr td{ 
    width: 50%;
    vertical-align: top;
    font-size: 17px;
    padding: 27px;
    text-align: left;
    color: #545461;
    line-height: 1.6em;
}
table tr #f{
    background: url('../img/a.jpg');
    background-size: cover;
}

/*offers*/
ul{list-style: none;}

.daily{
    margin-top: 50px;
    background-color: #fff;
    height:548px ;
    width: 100%;
}
.daily .img1 , .img2 , .img3{
    height: 520px;
    width: 38%;
    background: url("../img/nw.jpg");
    background-size: cover;
    margin: 35px auto;
}
.daily .img1 .text p:first-of-type
,.daily .img2 .text p:first-of-type
,.daily .img3 .text p:first-of-type{
    color: #fff;
    background-color: red;
    width: 30%;
    margin: 20px 0 0 0px;
    padding-top: 0px;
    height: 23px;
    text-align: center;
    transform: translateY(10px);
}
.daily .img1 :nth-child(2)
,.daily .img2 :nth-child(2)
,.daily .img3 :nth-child(2){
    background-color: #50504c;
    opacity: .5;
    vertical-align: bottom;
    width: 100%;
    height: 187px;
    margin-top: 310px;
    line-height: 1.6em;
    visibility: hidden;
}
.daily .img1 :nth-child(2) p 
,.daily .img2 :nth-child(2) p
,.daily .img3 :nth-child(2) p{
    padding:40px 10px 0 ;
    color: #fff;
}

.daily .img1 :nth-child(2) p a
,.daily .img2 :nth-child(2) P a
,.daily .img3 :nth-child(2) p a{color: #fff;}

.daily .img1:hover :nth-child(2),
.daily .img2:hover :nth-child(2)
,.daily .img3:hover :nth-child(2){visibility: visible;}

/*popular destination*/
.daily .img2{
    background: url('../img/1london.jpg');
    background-size: cover;
}
.daily .img3{
    background: url('../img/safari.jpg');
    background-size: cover;
}
